<md-content>
  <h3 layout="column" layout-align="end center">
    Welcome
  </h3>
  <md-card>
    <md-card-content class="md-body-1">
      <h4 class="md-title">
        Please register filling a valid email down below.
      </h4>
      <form name="identification-form">
        <md-input-container >
          <!-- Use floating placeholder instead of label -->
          <md-icon
            aria-label="email"
            alt="email"
            md-font-set="material-icons">email</md-icon>
          <input
            type="email"
            placeholder="Email (required)"
            ng-required="true"
            ng-model="identificationCtrl.user.email">
        </md-input-container>
        <md-button
          aria-label="submit-email"
          class="md-raised md-primary"
          ng-disabled="!identificationCtrl.user.email"
          ng-click="identificationCtrl.create(identificationCtrl.user)">Register</md-button>
      </form>
    </md-card-content>
  </md-card>
</md-content>
