<h2 layout="column" layout-align="end center">
  Welcome
</h2>
<md-card>
  <md-card-content class="md-body-1">
    <h2 class="md-title">
      Now to start visualizing the DEM/DTM data upload your file here below.
    </h2>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tooltip>
        Select a file from filesystem or drop in the drop area
      </md-tooltip>
      <md-tab label="Select">
        <md-content class="md-padding">
          <h3>Select a file from filesystem</h3>
          <p>
            Bla bla...
          </p>
        </md-content>
        <md-card-footer ng-if="homeCtrl.file">
          {{ homeCtrl.file.name }}
          {{ homeCtrl.file.size | byteFmt: 2 }}
          {{ homeCtrl.file.lastModifiedDate | date: 'medium' }}
        </md-card-footer>
        <div class="md-actions" layout="row" layout-align="end center">
          <section layout="row" layout-sm="column" layout-align="center center">
            <md-button
              accept="*/*"
              ngf-select
              ngf-patter="*/*"
              ng-model="homeCtrl.file"
              ng-disabled="homeCtrl.file"
              ng-class="{'md-primary': '!homeCtrl.file'}"
              aria-label="pick-a-file"
              class="md-raised file-selection-group">Pick a file!</md-button>
            <md-button
              ng-click="homeCtrl.file = undefined"
              ng-disabled="!homeCtrl.file"
              ng-class="{'md-warn': 'homeCtrl.file'}"
              aria-label="cancel-selected-file"
              class="md-raised file-selection-group">Cancel</md-button>
            <md-button
              ng-click="homeCtrl.processFile(homeCtrl.file)"
              ng-disabled="!homeCtrl.file"
              ng-class="{'md-primary': 'homeCtrl.file'}"
              class="md-raised file-selection-group">Submit!</md-button>
          </section>
        </div>
      </md-tab>
      <md-tab label="Drop">
        <md-content class="md-padding">
          <h3>Drop in the drop area</h3>
          <p>
            <span ngf-drop ng-model="files" class="drop-box">
              Drop
            </span>
          </p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-card-content>
</md-card>
