@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

* {
  font-family: 'Noto Sans', sans-serif;
}

.file-selection-group {
  padding: 3px 15px 3px 15px;
  text-transform: none;
  min-width:100px;
}
